<html>
	<title>Ansible Roles Demo</title>
	<body>
		<h1>"{{ greetings }}", this instance of apache on "{{ ansible_distribution }}" is installed by "{{ automation_language }}" !!!</h1>
	</body>
</html>
